.logger {
    height: 100px;
    overflow: auto;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 4px;
    margin-left: 0;
    padding: 5px;
}

.logger li {
    list-style: none;
}