<div class="form-inline modal">
    <div class="modal-header">
        <h3>Game Settings</h3>
    </div>
    <div class="modal-body">
        <h4>Manual configuration</h4>
        <h5>Number of players</h5>
        <p>
            <label>
                Human players:
                <input type="number" class="input-mini"
                    data-dojo-attach-point="humanPlayers"
                    data-dojo-attach-event="change: setHumanPlayers">
            </label>
            ,
            <label>
                bots:
                <input type="number" class="input-mini"
                    data-dojo-attach-point="computerPlayers"
                    data-dojo-attach-event="change: setComputerPlayers">
            </label>
        </p>
        <h5>General</h5>
        <p>
            <label class="checkbox">
                <input type="checkbox"
                    data-dojo-attach-point="allowMultipleRequests"
                    data-dojo-attach-event="click: setAllowMultipleRequests">
                Allow multiple requests
            </label>
        </p>
        <p>
            <label class="checkbox">
                <input type="checkbox"
                    data-dojo-attach-point="forceShowOfSeries"
                    data-dojo-attach-event="click: setForceShowOfSeries">
                Force show completed series
            </label>
        </p>
        
        <hr>
        
        <h4>Upload configuration file</h4>
        <form action="uploadXml" enctype="multipart/form-data" method="post" target="uploadXmlIframe">
            <p>
                <input type="file" name="xml" accept=".xml" data-dojo-attach-point="file">
                <button type="submit" class="btn">
                    <i class="icon-upload"></i>
                    Upload
                </button>
            </p>
            <p data-dojo-attach-point="uploadXmlError" class="alert alert-error hide"></p>
        </form>
        <!-- Hidden iframe is used as the target for the upload form -->
        <iframe name="uploadXmlIframe" class="hide"></iframe>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            data-dojo-attach-event="click: startGame">
            Start game
        </button>
    </div>
</div>