<div class="modal">
    <div class="modal-header">
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <div data-dojo-attach-point="alert"></div>
        <form class="input-append" data-dojo-attach-point="form" data-dojo-attach-event="submit: submitForm">
            <input type="text" placeholder="Please enter your name" data-dojo-attach-point="nameInput">
            <button class="btn" type="submit" data-dojo-attach-point="joinButton">Join game</button>
        </form>

        <h4>Players in game</h4>
        <ol data-dojo-attach-point="playersList"></ol>
    </div>
</div>