<div class="hide form-inline">
    <p>
        Ask <select data-dojo-attach-point="playerSelector" class="input-medium"></select>
        for card <select data-dojo-attach-point="cardSelector" class="input-medium"></select>
        <button class="btn" data-dojo-attach-event="click: askCardClick">Ask card</button>
    </p>
    <p>
        <button class="btn">Drop series</button>
        |
        <button class="btn">Skip turn</button>
        <button class="btn">Quit game</button>
    </p>
</div>