<li class="player">
    <h3 data-dojo-attach-point="nameNode" class="name"></h3>
    <p class="info">
        <strong>Cards</strong>: <span data-dojo-attach-point="numCardsNode">0</span>,
        <strong>Series</strong>: <span data-dojo-attach-point="numCompleteSeriesNode">0</span>
    </p>
    <div data-dojo-attach-point="controlsContainer" class="hide"></div>
    <div data-dojo-type="gofish/widget/CardsList" data-dojo-attach-point="hand"></div>
    <div data-dojo-attach-point="completeSeries" class="complete-series clearfix"></div>
</li>